.App {
  background-color: #282c34;
  height: 50px;
}
.App-header {
  color: aliceblue;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.custom-styles{
  font-family: Georgia, serif;
  font-size: 50px;
}