.container {
    padding: 55px;
} 
.content, .btn {
    margin: 10px;
}

.btn {
    padding: 10px;
    min-width: 150px;
}
.splitLeft{
    width: 35%;
    margin-top: 1rem;
  }
.splitRight {
    width: 65%;
    margin-top: 1rem;
}
.image{
    position: relative;
}

.line-separator {
    background-color: #000;
    flex-grow: 5;
    height: 2px;
}

.toolbar-class {
    position: relative;
}

.scroll{
    overflow-y: scroll;
    max-height: 31rem;
}

.icon {
    padding: 2px;
}

.category {
    display: grid;
    grid-auto-flow: column;
}