.gradient-custom-3 {
  /* fallback for old browsers */
  background: #598568;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(226, 236, 230, 0.5), rgba(42, 42, 43, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(228, 235, 230, 0.5), rgba(92, 94, 95, 0.5))
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #313332;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.container {
  height: 100vh;
}

.btn:hover {
  background-color: #3b454e;
}
