.gradient-custom {
    /* fallback for old browsers */
    background: #adaca9;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(238, 235, 225), rgb(185, 182, 182));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(226, 225, 221), rgb(226, 221, 219))
  }

  .spacing-style {

    margin-top: 10px;
  }